html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//END OF CSS RESET
body{
  background-color: #191d3c;
}
p{
	font-family: 'Montserrat';
}
input{
	color: #fff;
}

.imgheader{
  width: 100vw;
  height: auto;
}

.logo{
  width: auto;
  height: 50px;
  padding-left: 15px;
  vertical-align: middle;

  &:hover{
    filter: drop-shadow(3px 5px 8px gold);
    cursor: pointer;
  }
}

.navbar{
  background-color: #23295b;
}
.nav-link:hover{
  background-color: #216e7d;
}
//end of header css
.home-container{
	width: 1200px;
	display: block;
	margin: 0 auto;
}
.page-title{
	text-align: center;
	color: #f8f8ff;
	font-family: 'Dancing Script', cursive;
	text-shadow: 2px 2px 3px #ff1f23;
	font-weight: 700;
	font-size: 5.5rem;
}
.home-image{
	display: block;
	margin: 0 auto;
	width: 500px;
}
.home-text{
	color: #191D3C;
	font-size: 25px;
	margin-top: 50px;
	padding: 15px;
	background-color: #fff;
	border-radius: 15px;
}
.home-caption{
	color: #f8f8ff;
	font-size: 40px;
	text-align: center;
	margin-top: 70px;
	text-shadow: 3px 3px 3px #ff1f23;
}
.signup-button{
	display: block !important;
	margin: 20px auto;
	width: 160px;
	border-radius: 30px !important;
}

@media only screen and (max-width:1200px){
	.home-container{
		width: 100%;
		padding: 0 15px;
	}
	.page-title{
		font-size: 3rem;
	}
	.home-text{
		font-size: 20px;
	}
	.home-caption{
		font-size: 30px;
	}
	.home-image{
		width: 70%;
	}
}
//End Of commun CSS
.inputform{
	color: #fff !important;
}
.labelform{
	color: #fff !important;
}
.labeltextarea{
	margin-top: 5px !important;
}
.labelform option{
	color: #fff !important;
}
input.select-dropdown {
	color: #fff;
}
.dropdown-content{
	background-color: #2A4A87 !important;
}
ul li>span{
	color: #fff !important;
}
// END of form css
.button-expo{
	margin: 20px 0 !important;
	background-color: #2a4a87 !important;
	border-radius: 6px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th, td {
  text-align: left;
  padding: 8px;
	color: #fff;
}
tr{
	border: solid 2px #fff !important;
	border-radius: 10px;
}
tr:nth-child(1){
	background: rgb(33, 110, 125);
}
tr:nth-child(even){
	background-color: #191d3c;
}
td:nth-child(even){
	background-color: rgba(#4a4242, 0.67);
}
//End of page CSS

.home-footer{
	background-color: #216E7D;
	min-height: 200px;
	text-align: center;
}
.footer-title{
	font-family: 'Dancing Script', cursive;
	font-weight: 700;
	padding-top: 20px;
	font-size: 50px;
	color: #7fffd4;
}
.footer-separator{
	padding-bottom: 25px;
	color: black;
}
.footer-link{
	color: #fff;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
