/* line 1, ../sass/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/style.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/style.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/style.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 45, ../sass/style.scss */
body {
  background-color: #191d3c;
}

/* line 48, ../sass/style.scss */
p {
  font-family: 'Montserrat';
}

/* line 51, ../sass/style.scss */
input {
  color: #fff;
}

/* line 55, ../sass/style.scss */
.imgheader {
  width: 100vw;
  height: auto;
}

/* line 60, ../sass/style.scss */
.logo {
  width: auto;
  height: 50px;
  padding-left: 15px;
  vertical-align: middle;
}
/* line 66, ../sass/style.scss */
.logo:hover {
  filter: drop-shadow(3px 5px 8px gold);
  cursor: pointer;
}

/* line 72, ../sass/style.scss */
.navbar {
  background-color: #23295b;
}

/* line 75, ../sass/style.scss */
.nav-link:hover {
  background-color: #216e7d;
}

/* line 79, ../sass/style.scss */
.home-container {
  width: 1200px;
  display: block;
  margin: 0 auto;
}

/* line 84, ../sass/style.scss */
.page-title {
  text-align: center;
  color: #f8f8ff;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 2px 3px #ff1f23;
  font-weight: 700;
  font-size: 5.5rem;
}

/* line 92, ../sass/style.scss */
.home-image {
  display: block;
  margin: 0 auto;
  width: 500px;
}

/* line 97, ../sass/style.scss */
.home-text {
  color: #191D3C;
  font-size: 25px;
  margin-top: 50px;
  padding: 15px;
  background-color: #fff;
  border-radius: 15px;
}

/* line 105, ../sass/style.scss */
.home-caption {
  color: #f8f8ff;
  font-size: 40px;
  text-align: center;
  margin-top: 70px;
  text-shadow: 3px 3px 3px #ff1f23;
}

/* line 112, ../sass/style.scss */
.signup-button {
  display: block !important;
  margin: 20px auto;
  width: 160px;
  border-radius: 30px !important;
}

@media only screen and (max-width: 1200px) {
  /* line 120, ../sass/style.scss */
  .home-container {
    width: 100%;
    padding: 0 15px;
  }

  /* line 124, ../sass/style.scss */
  .page-title {
    font-size: 3rem;
  }

  /* line 127, ../sass/style.scss */
  .home-text {
    font-size: 20px;
  }

  /* line 130, ../sass/style.scss */
  .home-caption {
    font-size: 30px;
  }

  /* line 133, ../sass/style.scss */
  .home-image {
    width: 70%;
  }
}
/* line 138, ../sass/style.scss */
.inputform {
  color: #fff !important;
}

/* line 141, ../sass/style.scss */
.labelform {
  color: #fff !important;
}

/* line 144, ../sass/style.scss */
.labeltextarea {
  margin-top: 5px !important;
}

/* line 147, ../sass/style.scss */
.labelform option {
  color: #fff !important;
}

/* line 150, ../sass/style.scss */
input.select-dropdown {
  color: #fff;
}

/* line 153, ../sass/style.scss */
.dropdown-content {
  background-color: #2A4A87 !important;
}

/* line 156, ../sass/style.scss */
ul li > span {
  color: #fff !important;
}

/* line 160, ../sass/style.scss */
.button-expo {
  margin: 20px 0 !important;
  background-color: #2a4a87 !important;
  border-radius: 6px;
}

/* line 165, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

/* line 171, ../sass/style.scss */
th, td {
  text-align: left;
  padding: 8px;
  color: #fff;
}

/* line 176, ../sass/style.scss */
tr {
  border: solid 2px #fff !important;
  border-radius: 10px;
}

/* line 180, ../sass/style.scss */
tr:nth-child(1) {
  background: #216e7d;
}

/* line 183, ../sass/style.scss */
tr:nth-child(even) {
  background-color: #191d3c;
}

/* line 186, ../sass/style.scss */
td:nth-child(even) {
  background-color: rgba(74, 66, 66, 0.67);
}

/* line 191, ../sass/style.scss */
.home-footer {
  background-color: #216E7D;
  min-height: 200px;
  text-align: center;
}

/* line 196, ../sass/style.scss */
.footer-title {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  padding-top: 20px;
  font-size: 50px;
  color: #7fffd4;
}

/* line 203, ../sass/style.scss */
.footer-separator {
  padding-bottom: 25px;
  color: black;
}

/* line 207, ../sass/style.scss */
.footer-link {
  color: #fff;
}

/* line 210, ../sass/style.scss */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
